<section class="main-content">
    <h2 class="sub-heading text-center">Financial Details</h2>
    <div>
        <table class="table">
            <h4 class="sub-heading mt-4">Demand</h4>
            <tbody>
                <tr>
                    <td><b>Initial Deposit Balance</b></td>
                    <td><b>:</b></td>
                    <td><input type="number"></td>
                </tr>
                <tr>
                    <td><b>Initial Deposit belated interest balance</b></td>
                    <td><b>:</b></td>
                    <td><input type="number"></td>
                </tr>
                <tr>
                    <td><b>Total EMI Outstanding</b></td>
                    <td><b>:</b></td>
                    <td><input type="number"></td>
                </tr>
                <tr>
                    <td><b>Penal Interest</b></td>
                    <td><b>:</b></td>
                    <td><input type="number"></td>
                </tr>
                <tr>
                    <td><b>Total Outstanding Dues</b></td>
                    <td><b>:</b></td>
                    <td><input type="number"></td>
                </tr>
            </tbody>
            <h3 class="sub-heading mt-4">Collection</h3>
            <tbody>
                <tr>
                    <td><b>Initial Deposit paid</b></td>
                    <td><b>:</b></td>
                    <td><input type="number"></td>
                </tr>
                <tr>
                    <td><b>Initial Deposit Belated Interest</b></td>
                    <td><b>:</b></td>
                    <td><input type="number"></td>
                </tr>
                <tr>
                    <td><b>Total EMI Collection</b></td>
                    <td><b>:</b></td>
                    <td><input type="number"></td>
                </tr>
                <tr>
                    <td><b>Penal Interest</b></td>
                    <td><b>:</b></td>
                    <td><input type="number"></td>
                </tr>
                <tr>
                    <td><b>Total Collection</b></td>
                    <td><b>:</b></td>
                    <td><input type="number"></td>
                </tr>
            </tbody>
            <h3 class="sub-heading mt-4">Outstanding Dues - Past due</h3>
            <tbody>
                <tr>
                    <td><b>Initial Deposit Balance</b></td>
                    <td><b>:</b></td>
                    <td><input type="number"></td>
                </tr>
                <tr>
                    <td><b>Initial Deposit belated interest balance</b></td>
                    <td><b>:</b></td>
                    <td><input type="number"></td>
                </tr>
                <tr>
                    <td><b>Total EMI Outstanding</b></td>
                    <td><b>:</b></td>
                    <td><input type="number"></td>
                </tr>
                <tr>
                    <td><b>Penal Interest</b></td>
                    <td><b>:</b></td>
                    <td><input type="number"></td>
                </tr>
                <tr>
                    <td><b>Total Outstanding Dues</b></td>
                    <td><b>:</b></td>
                    <td><input type="number"></td>
                </tr>
            </tbody>
            <h3 class="sub-heading mt-4">Outstanding Dues - Future pending</h3>
            <tbody>
                <tr>
                    <td><b>Initial Deposit Balance</b></td>
                    <td><b>:</b></td>
                    <td><input type="number"></td>
                </tr>
                <tr>
                    <td><b>Total EMI Outstanding</b></td>
                    <td><b>:</b></td>
                    <td><input type="number"></td>
                </tr>
                <tr>
                    <td><b>Total Outstanding Dues</b></td>
                    <td><b>:</b></td>
                    <td><input type="number"></td>
            </tbody>
        </table>
    </div>
</section>