<section class="grid-container">

    <div class="d-flex border" style="height: 75%;">
        <div>
            <img src="../../../assets/images/login-image.png" alt="marketing-img" width="500" height="100%">
        </div>
        <div class="d-flex flex-column justify-content-center px-4" style="background-color: white;">
            <img src="../../assets/images/tnhb_logo.png" alt="tnhb logo" width="300">
            <h3 class="text-center" style="font-weight: 500;font-size: 1.5rem;">Login</h3>
            <form [formGroup]="changeForm" class="d-flex flex-column">
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username">
                    <mat-icon matSuffix>account_circle</mat-icon>
                </mat-form-field>
            </form>
        </div>
    </div>

</section>