.grid-container {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 100vh;
    /* Set the container height to occupy the full viewport height */
    background-color: #f4f4f4;
}