<section class="main-content">
    <div class="editScheme">
        <h2 class="heading w-25">{{heading}}</h2>
        <div *ngIf="!viewMode">
            <button type="submit" class="btn create" style="background-color: #470A3C;color: white;"
                (click)="onUpdate(id)">Update</button>
            <button type="button" class="btn btn-danger" (click)="onDelete(id)">Delete</button>
        </div>
    </div>
    <h2 class="heading">Scheme & Unit Data</h2>

    <div style="background-color: #FFC9FE;border-radius: 10px; padding: 1rem;margin-bottom: 1rem;">
        <span style="font-weight: bold;font-size: medium;">Type Information</span>
        <form [formGroup]="schemeDataForm" class="schemeDataForm-edit">

            <div class="v_SCHEME_CODE">
                <label class="form-label" for="v_SCHEME_CODE">Scheme & Type Code</label>
                <input class="form-control" type="text" id="v_SCHEME_CODE" formControlName="v_SCHEME_CODE" readonly>
            </div>

            <div class="v_DIVISION">
                <label class="form-label" for="v_DIVISION">Name of the Division</label>
                <input class="form-control" type="text" id="v_DIVISION" formControlName="v_DIVISION" readonly>
            </div>

            <div class="v_SCHEME_NAME">
                <label class="form-label" for="v_SCHEME_NAME">Scheme Name</label>
                <input class="form-control" type="text" id="v_SCHEME_NAME" formControlName="v_SCHEME_NAME" required
                    [readOnly]="viewMode">
            </div>

            <div class="v_SCHEME_TYPE">
                <label class="form-label">Type</label>
                <input class="form-control" type="text" id="v_SCHEME_TYPE" formControlName="v_SCHEME_TYPE" readonly>
            </div>

            <div class="v_UNIT_TYPE">
                <label class="form-label" for="v_UNIT_TYPE">Unit Type</label>
                <input class="form-control" type="text" id="v_UNIT_TYPE" formControlName="v_UNIT_TYPE" readonly>
            </div>

            <div class="n_TOTAL_UNITS">
                <label class="form-label" for="n_TOTAL_UNITS">Total Units</label>
                <input class="form-control" type="text" id="n_TOTAL_UNITS" formControlName="n_TOTAL_UNITS" readonly>
            </div>

            <div class="v_SPLACE">
                <label class="form-label" for="v_CR_CODE">Scheme place</label>
                <input class="form-control" type="text" id="v_SPLACE" formControlName="v_SPLACE" [readOnly]="viewMode">
            </div>

            <div class="v_DISTRICT">
                <label class="form-label" for="v_CR_CODE">District</label>
                <input class="form-control" type="text" id="v_DISTRICT" formControlName="v_DISTRICT" readonly>
            </div>

            <div class="v_RESERVATION_STATUS">
                <label class="form-label" for="v_RESERVATION_STATUS">Reservation</label>
                <select *ngIf="!viewMode" class="form-select" id="v_RESERVATION_STATUS"
                    formControlName="v_RESERVATION_STATUS">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
                <input *ngIf="viewMode" class="form-control" type="text" id="v_RESERVATION_STATUS"
                    formControlName="v_RESERVATION_STATUS" required [readOnly]="viewMode">
            </div>

            <div class="v_FROM_DATE" *ngIf="schemeDataForm.get('v_RESERVATION_STATUS')?.value === 'Yes'">
                <label class="form-label" for="v_FROM_DATE">From Date</label>
                <input class="form-control" type="date" id="v_FROM_DATE" formControlName="v_FROM_DATE"
                    [readOnly]="viewMode">
            </div>

            <div class="v_TO_DATE" *ngIf="schemeDataForm.get('v_RESERVATION_STATUS')?.value === 'Yes'">
                <label class="form-label" for="v_TO_DATE">To Date</label>
                <input class="form-control" type="date" id="v_TO_DATE" formControlName="v_TO_DATE" readonly>
            </div>

            <div class="v_PROJECT_STATUS">
                <label class="form-label" for="v_PROJECT_STATUS">Project Status</label>
                <select *ngIf="!viewMode" class="form-select" id="v_PROJECT_STATUS" formControlName="v_PROJECT_STATUS">
                    <option value="Yet to be Started">Yet to be Started</option>
                    <option value="Ongoing">Ongoing</option>
                    <option value="Completed">Completed</option>
                </select>
                <input *ngIf="viewMode" class="form-control" type="text" id="v_PROJECT_STATUS"
                    formControlName="v_PROJECT_STATUS" required [readOnly]="viewMode">
            </div>

            <div class="v_WHETHER_HP" *ngIf="schemeDataForm.get('v_PROJECT_STATUS')?.value ==='Completed'">
                <label class="form-label" for="v_WHETHER_HP">Whether HP needed?</label>
                <select *ngIf="!viewMode" class="form-select" id="v_WHETHER_HP" formControlName="v_WHETHER_HP">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
                <input *ngIf="viewMode" class="form-control" type="text" id="v_WHETHER_HP"
                    formControlName="v_WHETHER_HP" required [readOnly]="viewMode">
            </div>

            <div class="v_CUT_OFF_DATE">
                <label class="form-label" for="v_CUT_OFF_DATE">Cut-off Date (SP)</label>
                <input class="form-control" type="date" id="v_CUT_OFF_DATE" formControlName="v_CUT_OFF_DATE" required
                    [readOnly]="viewMode">
            </div>

            <div class="n_SELLING_PRICE">
                <label class="form-label" for="n_SELLING_PRICE">Original Selling Price</label>
                <input class="form-control" type="text" id="n_SELLING_PRICE" formControlName="n_SELLING_PRICE" required
                    [readOnly]="viewMode">
            </div>

            <div class="n_RATE_OF_SCHEME_INTEREST">
                <label class="form-label" for="n_RATE_OF_SCHEME_INTEREST">Scheme Interest</label>
                <input class="form-control" type="text" id="n_RATE_OF_SCHEME_INTEREST"
                    formControlName="n_RATE_OF_SCHEME_INTEREST" required [readOnly]="viewMode">
            </div>

            <div class="v_REPAYMENT_PERIOD">
                <label class="form-label" for="v_REPAYMENT_PERIOD">Repayment Period</label>
                <input class="form-control" type="text" id="v_REPAYMENT_PERIOD" formControlName="v_REPAYMENT_PERIOD"
                    required [readOnly]="viewMode">
            </div>

            <div class="v_SELLING_EXTENT" *ngIf="schemeDataForm.get('v_UNIT_TYPE')?.value !== 'Flat'">
                <label class="form-label" for="v_SELLING_EXTENT">Selling Extent</label>
                <input class="form-control" type="number" id="v_SELLING_EXTENT" formControlName="v_SELLING_EXTENT"
                    required [readOnly]="viewMode">
            </div>

            <div class="v_PLINTH_AREA">
                <label class="form-label" for="v_PLINTH_AREA">Plinth Area</label>
                <input class="form-control" type="text" id="v_PLINTH_AREA" formControlName="v_PLINTH_AREA" required
                    [readOnly]="viewMode">
            </div>

            <div class="v_UDS_AREA">
                <label class="form-label" for="v_UDS_AREA">UDS</label>
                <input class="form-control" type="text" id="v_UDS_AREA" formControlName="v_UDS_AREA" required
                    [readOnly]="viewMode">
            </div>

            <div class="v_TENTATIVE_LAND">
                <label class="form-label" for="v_TENTATIVE_LAND">Tentative Land</label>
                <select *ngIf="!viewMode" class="form-select" id="v_TENTATIVE_LAND" formControlName="v_TENTATIVE_LAND">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
                <input *ngIf="viewMode" class="form-control" type="text" id="v_TENTATIVE_LAND"
                    formControlName="v_TENTATIVE_LAND" required [readOnly]="viewMode">
            </div>

            <div class="v_FINAL_LAND">
                <label class="form-label" for="v_FINAL_LAND">Final Land</label>
                <input class="form-control" type="text" id="v_FINAL_LAND" formControlName="v_FINAL_LAND" required
                    [readOnly]="viewMode">
            </div>

            <div class="n_TENTATIVE_LAND_COST">
                <label class="form-label" for="n_TENTATIVE_LAND_COST">Tentative Land Cost</label>
                <input class="form-control" type="text" id="n_TENTATIVE_LAND_COST"
                    formControlName="n_TENTATIVE_LAND_COST" required [readOnly]="viewMode">
            </div>

            <div class="n_FINAL_LAND_COST">
                <label class="form-label" for="n_FINAL_LAND_COST">Final Land Cost</label>
                <input class="form-control" type="text" id="n_FINAL_LAND_COST" formControlName="n_FINAL_LAND_COST"
                    required [readOnly]="viewMode">
            </div>

            <div class="v_FINAL_CUTOFF_DATE">
                <label class="form-label" for="v_FINAL_CUTOFF_DATE">FLC Cut-off Date</label>
                <input class="form-control" type="date" id="v_FINAL_CUTOFF_DATE" formControlName="v_FINAL_CUTOFF_DATE"
                    required [readOnly]="viewMode">
            </div>

            <div class="n_PROFIT_ON_LAND">
                <label class="form-label" for="n_PROFIT_ON_LAND">Profit</label>
                <input class="form-control" type="text" id="n_PROFIT_ON_LAND" formControlName="n_PROFIT_ON_LAND"
                    required [readOnly]="viewMode">
            </div>

            <div class="v_REMARKS">
                <label class="form-label" for="v_REMARKS">Remarks</label>
                <textarea class="form-control" type="text" id="v_REMARKS" formControlName="v_REMARKS" required
                    [readOnly]="viewMode"></textarea>
            </div>

        </form>
    </div>

    <div style="background-color: #FFC9FE;border-radius: 10px; padding: 1rem;margin-bottom: 1rem;">
        <span style="font-weight: bold;font-size: medium;">Type Updated Value</span>
        <form [formGroup]="unitDataForm" class="unitDataForm-edit">

            <div class="n_TOTAL_ALLOTTED_UNITS">
                <label class="form-label" for="n_TOTAL_ALLOTTED_UNITS">Allotted Units</label>
                <input class="form-control" type="text" id="n_TOTAL_ALLOTTED_UNITS"
                    formControlName="n_TOTAL_ALLOTTED_UNITS" readonly>
            </div>

            <div class="n_TOTAL_UNSOLD_UNITS">
                <label class="form-label" for="n_TOTAL_UNSOLD_UNITS">Unsold Units</label>
                <input class="form-control" type="text" id="n_TOTAL_UNSOLD_UNITS" formControlName="n_TOTAL_UNSOLD_UNITS"
                    readonly>
            </div>

            <div class="n_TOTAL_ALLOTTED_UNITS_FOR_OUTRIGHT">
                <label class="form-label" for="n_TOTAL_ALLOTTED_UNITS_FOR_OUTRIGHT">OR Alotted</label>
                <input class="form-control" type="text" id="n_TOTAL_ALLOTTED_UNITS_FOR_OUTRIGHT"
                    formControlName="n_TOTAL_ALLOTTED_UNITS_FOR_OUTRIGHT" readonly>
            </div>

            <div class="n_TOTAL_ALLOTTED_UNITS_FOR_HIRE_PURCHASE">
                <label class="form-label" for="n_TOTAL_ALLOTTED_UNITS_FOR_HIRE_PURCHASE">HP Allotted</label>
                <input class="form-control" type="text" id="n_TOTAL_ALLOTTED_UNITS_FOR_HIRE_PURCHASE"
                    formControlName="n_TOTAL_ALLOTTED_UNITS_FOR_HIRE_PURCHASE" readonly>
            </div>

            <div class="n_TOTAL_ALLOTTED_UNITS_FOR_SFS">
                <label class="form-label" for="n_TOTAL_ALLOTTED_UNITS_FOR_SFS">SFS Allotted</label>
                <input class="form-control" type="text" id="n_TOTAL_ALLOTTED_UNITS_FOR_SFS"
                    formControlName="n_TOTAL_ALLOTTED_UNITS_FOR_SFS" readonly>
            </div>

            <div class="n_TOTAL_ARREARS_EMI">
                <label class="form-label" for="n_TOTAL_ARREARS_EMI">Arrear EMI</label>
                <input class="form-control" type="text" id="n_TOTAL_ARREARS_EMI" formControlName="n_TOTAL_ARREARS_EMI"
                    readonly>
            </div>

            <div class="n_TOTAL_CURRENT_EMI">
                <label class="form-label" for="n_TOTAL_CURRENT_EMI">Current EMI</label>
                <input class="form-control" type="text" id="n_TOTAL_CURRENT_EMI" formControlName="n_TOTAL_CURRENT_EMI"
                    readonly>
            </div>

            <div class="n_TOTAL_BALANCE_EMI">
                <label class="form-label" for="n_TOTAL_BALANCE_EMI">Balance EMI</label>
                <input class="form-control" type="text" id="n_TOTAL_BALANCE_EMI" formControlName="n_TOTAL_BALANCE_EMI"
                    readonly>
            </div>

            <div class="n_TOTAL_LIVE_CASES_FOR_HIRE">
                <label class="form-label" for="n_TOTAL_LIVE_CASES_FOR_HIRE">Live Units</label>
                <input class="form-control" type="text" id="n_TOTAL_LIVE_CASES_FOR_HIRE"
                    formControlName="n_TOTAL_LIVE_CASES_FOR_HIRE" readonly>
            </div>

            <div class="n_FULL_COST_PAID">
                <label class="form-label" for="n_FULL_COST_PAID">Full cost paid</label>
                <input class="form-control" type="text" id="n_FULL_COST_PAID" formControlName="n_FULL_COST_PAID"
                    readonly>
            </div>

            <div class="n_TOTAL_NO_OF_SALE_DEED_ISSUED">
                <label class="form-label" for="n_TOTAL_NO_OF_SALE_DEED_ISSUED">Sale Deed Issued</label>
                <input class="form-control" type="text" id="n_TOTAL_NO_OF_SALE_DEED_ISSUED"
                    formControlName="n_TOTAL_NO_OF_SALE_DEED_ISSUED" readonly>
            </div>

            <div class="n_TOTAL_RIPPED_UNIT">
                <label class="form-label" for="n_TOTAL_RIPPED_UNIT">Ripe Units</label>
                <input class="form-control" type="text" id="n_TOTAL_RIPPED_UNIT" formControlName="n_TOTAL_RIPPED_UNIT"
                    readonly>
            </div>
        </form>
    </div>

</section>