.home-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.home-toolbar {
    background-color: #ffffff;
}

.home-is-mobile .home-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

h1.home-app-name {
    margin-left: 8px;
}

.home-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}

.home-is-mobile .home-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}

#tnhb-logo {
    width: 17rem;
}

.home-spacer {
    flex: 1 1 auto;
}

.main-content {
    background-color: #FFFAF4;
}

mat-sidenav {
    background-color: #470A3C;
    width: 15%;
}

mat-nav-list button {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

:host ::ng-deep .mdc-button__label,
mat-nav-list button mat-icon {
    color: #F6F4EB;
}

mat-nav-list button:hover {
    background-color: #A3849D;
}

.active {
    background-color: #A3849D;
}