.main-content {
    padding: 1rem;
}

.success-icon {
    color: green;
    margin-right: 8px;
}

.failure-icon {
    color: red;
    margin-right: 8px;
}

button {
    background-color: #470A3C;
    color: #ffffff;
}